<div class="account-center-content d-flex flex-row justify-content-center p-5">
    <div id="account-center-redirection-bar" class="redirection-bar d-flex flex-column h-100" style="width: 320px;">
        <div class="bg-black  w-100 rounded-4">
            <div class="py-1 px-3">
                <nav class="navbar bg-grey h-100 p-3">
                    <div class="d-flex flex-column w-100 align-items-start">
                        <div [routerLink]="AppRoutes.ACCOUNTSETTINGS" [routerLinkActive]="['active-component']" class="btn btn-transparent mb-2 w-100 text-start text-white">
                            <fa-icon [icon]="faUser" class="me-2"/>
                            Profile Settings
                        </div>
                        <div [routerLink]="AppRoutes.ACCOUNTSECURITY" [routerLinkActive]="['active-component']" class="btn btn-transparent mb-2 w-100 text-start text-white">
                            <fa-icon [icon]="faShield" class="me-2"/>
                            Security
                        </div>
                    </div>
                </nav>
            </div>
            <hr class="m-0">
            <div class="py-1 px-3">
                <nav class="navbar bg-grey h-100 w-100 p-3">
                    <div class="d-flex flex-column w-100 align-items-start">
                        <div [routerLink]="AppRoutes.NOTIFICATIONS"  [routerLinkActive]="['active-component']" class="btn btn-transparent mb-2 w-100 text-start text-white">
                            <fa-icon [icon]="faBell" class="me-2"/>
                            Notifications
                        </div>
                        <div [routerLink]="AppRoutes.DISCORDINTEGRATION" [routerLinkActive]="['active-component']" class="btn btn-transparent mb-2 w-100 text-start text-white">
                            <fa-icon [icon]="faDiscord" class="me-2"/>
                            Integrations
                        </div>
                        <div [routerLink]="AppRoutes.CONTACTADMIN"  [routerLinkActive]="['active-component']" class="btn btn-transparent mb-2 w-100 text-start text-white">
                            <fa-icon [icon]="faPhone" class="me-2"/>
                            Contact Admin
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="account-center-main-content px-5" style="min-width: 770px; max-width: 770px;">
        @switch (currentSection()) {
          @case ('personnal') {
            <ng-container>
                <app-accountinformation></app-accountinformation>
            </ng-container>
          }
          @case ('security') {
            <ng-container>
                <app-accountsecurity></app-accountsecurity>
            </ng-container>
          }
          @case ('discord-integration') {
            <ng-container>
                <app-dicord-integration></app-dicord-integration>
            </ng-container>
          }
          @case ('notifications') {
            <ng-container>
                <app-comming-soon></app-comming-soon>
            </ng-container>
          }
          @case ('contact-admin') {
            <ng-container>
                <app-comming-soon></app-comming-soon>
            </ng-container>
          }
          @default {
            <ng-container>
                <app-not-found></app-not-found>
            </ng-container>
          }
        }
    </div>
</div>
