.vh-90 {
  height: 90vh !important;
}

.vh-80 {
  height: 80vh !important;
}

.vh-70 {
  height: 70vh !important;
}

.vw-20 {
  width: 20vw !important;
}

.bg-custom-blue {
  background-color: #03132D !important;
}

.bg-btn-custom-blue {
  background-color: #0A3FA9 !important;
}