html,
body {
  height: 100%;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* pousse le footer en bas */
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}
