
.tabs {
  display: flex;
  justify-content: space-between;
  color: var(--c-text-tertiary);

  /* a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    border-top: 2px solid transparent;
    display: inline-flex;
    transition: 0.25s ease;
    border-bottom: 1px solid grey;
    &.active,
    &:hover,
    &:focus {
      color: var(--c-text-primary);
      border-color: var(--c-text-primary);
    }
  } */
}



.icon-link fa-icon {
  transition: transform .2s ease;
}


/* .icon-link {
  text-decoration: none;
} */
.icon-link:hover fa-icon {
  transform: translateY(-2px);
  color: blue;
}
/* .icon-link-hover {
  color: blue;
  text-decoration: none;
} */