.icon-link fa-icon {
  transition: transform .2s ease;
}
/* .icon-link {
  text-decoration: none;
} */
.icon-link:hover fa-icon {
  transform: translateY(-2px);
  color: blue;
}
/* .icon-link-hover {
  color: blue;
  text-decoration: none;
} */

.active-link {
  color: var(--c-text-primary);
  /* border-bottom: 2px solid var(--c-text-primary); */
  box-shadow: inset 0 -2px 0 0 var(--c-text-primary);
}