services: 
  stm-project-api-server-{{deploy_mode}}:
    image: docker-registry.hikarizsu.fr/osm-backend:{{image_tag}}
    container_name: osm-api-server-{{deploy_mode}}
    env_file: {{api_env_path}}
    network: host
    restart: always
    mem_limit: {{mem_limit}}
    memswap_limit: {{memswap_limit}}

  stm-projet-client-server-{{deploy_mode}}
    image: docker-registry.hikarizsu.fr/osm-frontend:{{image_tag}}
    container_name: osm-client-{{deploy_mode}}
    env_file: {{client_env_path}}
    restart: always
    ports:
      - "{{client_server_port}}:{{client_container_port}}"
    mem_limit: {{mem_limit}}
    memswap_limit: {{memswap_limit}}
